.header {
    background: darkblue; 
    color: white; 
    padding: 20px;
    border-bottom: 2px solid darkblue; 
    box-shadow: 0px 3px 5px gray; 
    margin-top: auto;
    padding: 10px 20px;
}

.size-50{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    color:white;
    width: 1300px;
}

.logoKinal {
    width: 250px;
    height: 115px;
    margin-right: -375px;
    color:white;
}

a {
    background-color: rgb(7, 7, 63);
    color: white; 
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px; 
    margin: 10px; 
}

.navegacion {
    background: rgb(7, 7, 63); 
    color: white; 
    padding: 10px;
}

nav {
    font-size: 20px;
    border-bottom: 1px solid whi;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.carrusel {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
}

.slide {
    width: 1000px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

img {
    margin-top: 1%;
    width: 1000px;
    height: 500px;
   
}

h1{
    background-color: rgb(7, 7, 63);
    width: auto;
    height: 100px;
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 1%;
    border-radius: 25px;
}

.kinal{
    background-color:  darkblue;
    text-align:justify;
    color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    margin: 1%;
    margin-top: -1%;
    border-radius: 25px;
    text-align: center;
}

.logo{
    position: relative;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.educacion{
    background-color:  darkblue;
    text-align:justify;
    color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    text-align: center;
    width: 400px;
    height: auto;
    color: white; 
    display: inline-block;
    padding: 10px 20px; 
    margin: 45px;
    justify-content: space-between;
}

.patrocinadore{
    background-color:  darkblue;
    text-align:justify;
    color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    margin: 1%;
    margin-top: -1%;
    border-radius: 25px;
    text-align: center;
}

.patrocinadores{
    width: 600px;
    height: 300px;
    position: relative;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: rgb(7, 7, 63);
    color: white; 
    padding: 20px;
    border-bottom: 2px solid darkblue; 
    margin-top: auto;
    padding: 10px 20px;
    height: auto;
    background-color: darkblue;  
    text-align: center;
    align-items: center;
    padding: 10px;
    list-style: none;
}

.footerInfo{
    text-align:start;
}

.centerjq{
text-align: center;
}
