body {
    background: white;
    color: rgb(63, 62, 62); 
    font-family: 'Arial', sans-serif;
    margin: 0;
    text-align: center;
}

.header {
    background: darkblue; 
    color: white; 
    padding: 20px;
    border-bottom: 2px solid darkblue; 
    box-shadow: 0px 3px 5px gray; 
}

.navegacion {
    background: rgb(7, 7, 63); 
    color: white; 
    padding: 10px;
}

a {
    background-color: rgb(7, 7, 63);
    color: white; 
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px; 
    margin: 10px; 
}

a:hover {
    background-color: #27496b;
}

.article {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
    margin: 20px;
}

.album {
    background: green;
    color: white; 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
}

.album:hover {
    background-color: #5eee1c;
}

nav {
    font-size: 20px;
    border-bottom: 1px solid whi;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    background-color: darkblue; 
    color: black; 
    text-align: center;
    align-items: center;
    padding: 10px;
    list-style: none;
}
